<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/themes/dark-unica.js' %}"></script>
    <script src="{% static 'js/refresh.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <title>Weather Station</title>
</head>
<body>
    <h1 class="title">Cracow Online Temperature Measures</h1>
    <p> Check the current temperature and register to our <b>Newsletter</b>. We will let you know whenever its cold! </p>
    <form method="POST" action="">
        {{ form }}
        <input type="submit" value="Subscribe">{% csrf_token %}
    </form>
    <div class="container">
        <div id={{ chartID1|safe }} class="chart_left"></div>
        <div id={{ chartID3|safe }} class="chart_right"></div>
    </div>
    <div class="container">
        <div id={{ chartID2|safe }} class="chart_center"></div>
    </div>
    <div class="container">
        <div id={{ chartID4|safe }} class="chart_center"></div>
    </div>
{% block extrajs %}

<script>
$(document).ready(function() {
    $({{ chartID1|safe }}).highcharts({
        chart: {{ chart1|safe }},
        title: {{ title1|safe }},
        xAxis: {{ xAxis1|safe }},
        yAxis: {{ yAxis1|safe }},
        series: {{ series1|safe }}
    });

    $({{ chartID2|safe }}).highcharts({
        chart: {{ chart2|safe }},
        title: {{ title2|safe }},
        xAxis: {{ xAxis2|safe }},
        yAxis: {{ yAxis2|safe }},
        series: {{ series2|safe }}
    });

    var series = {{ series3|safe }};
    var obj = series[0]['data'];
    for(var x in obj){
      if(typeof obj[x] === "string") obj[x] = JSON.parse(obj[x]);
    }
    series[0]['data'] = obj;
    $({{ chartID3|safe }}).highcharts({
        chart: {{ chart3|safe }},
        title: {{ title3|safe }},
        xAxis: {{ xAxis3|safe }},
        yAxis: {{ yAxis3|safe }},
        series: series
    });

    $({{ chartID4|safe }}).highcharts({
        chart: {{ chart4|safe }},
        title: {{ title4|safe }},
        xAxis: {{ xAxis4|safe }},
        yAxis: {{ yAxis4|safe }},
        series: {{ series4|safe }}
    });

});
</script>
{% endblock %}

</body>
</html>